<link rel="stylesheet" href="homepage.component.css">

<body>
<div class="titre">
  Puissance 4
</div>"



    <div class="contenu">






      <img class="userimage" src='user.png'>

      <div class=" contenercadre">


        <input class="formulaire" type="text" placeholder="Enter Username" name="uname" required>

      </div>
      <div class=" contenercadre">


        <input class="formulaire" type="password" placeholder="Enter Password" name="psw" required>

      </div>
      <button class="boutonlogin" type="submit">Login</button>
      <button class="boutonregister" type="submit">Sign</button>
    </div>


</body>
