<link rel="stylesheet" href="homepage.component.css">

<body>
<div class="titre">
  Puissance 4
</div>"



    <div class="contenu">






      <img class="userimage" src='user.png'>

      <div class=" contenercadre">


        <input type="text" [(ngModel)]="username" placeholder="Enter text">

      </div>
      <div class=" contenercadre">


        <input type="text" [(ngModel)]="usermdp" placeholder="Enter text">

      </div>
      <button class="boutonlogin" (click)="loginClick()">Login</button>


    </div>


</body>
