<div class="body">
<div class="login-container">
  <div class="cercle">
  <h2 class="titre">Homepage</h2>
  </div>

  <form (ngSubmit)="login()">

    <input type="text" id="username" [(ngModel)]="user" [ngModelOptions]="{standalone: true}" required placeholder="Enter your username">


    <input type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required placeholder="Enter your password">

    <button class="login" type="submit">Login</button>
  </form>
  <button class="register" (click)="register()">register</button>

</div>

</div>
