body {
  background:
    linear-gradient(to right, red, blue) left,
    linear-gradient(to right, blue, red) right;
  background-size: 50% 100%, 50% 100%;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh; /* Utilisez la hauteur de la fenêtre du navigateur comme unité de mesure */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.contenu {

  background-color: blue;:

  background-size: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px white;


  width: 60%; /* Ajustez la largeur selon vos besoins */
  max-width: 600px; /* Ajoutez une largeur maximale pour le rectangle */
  max-height: 600px;



  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur du conteneur */
}


.titre {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, yellow, red);
  text-shadow: 0px 0px 10px white;
  text-decoration: underline ;

  font-size: max(3vw, 20px);
  text-align: center;
  margin-bottom: 20px; /* Ajustez cette valeur selon vos besoins */
  position: absolute;
  top: 10px; /* Ajustez la distance depuis le haut selon vos besoins */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15vh;

}




.userimage {


  width: 100%; /* La largeur de l'image est égale à 100% du conteneur parent */
  max-width: 200px; /* Définissez une largeur maximale si nécessaire */
  height: auto; /* Maintient le rapport largeur-hauteur et évite la déformation */
  border-radius: 50%; /* Crée un cercle en arrondissant les coins */
  overflow: hidden; /* Masque tout ce qui dépasse du cadre du cercle */
  margin: auto; /* Centre l'image horizontalement dans son conteneur */
  display: block; /* Assure que l'image est traitée comme un bloc pour pouvoir utiliser margin: auto; */

}



.contenercadre {
  padding: 8px;
  padding-left: 10%;

}
.formulaire{
  background-color: red;
  border-radius: 20px;
  color: black;
  border: 2px solid yellow;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px 4px yellow;
  margin-left: 26%;
}
.formulaire::placeholder {
  color: black; /* Couleur du texte de l'indicateur de saisie */
  opacity: 0.7; /* Opacité de l'indicateur de saisie, ajustez selon vos besoins */
  font-size: 16px;
  font-weight: bold;
}
.boutonlogin{
  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: yellow;

  position: absolute;
  bottom: 5px; /* Ajustez la distance depuis le bas selon vos besoins */
  right:60px; /* Ajustez la distance depuis la droite selon vos besoins */
  padding: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 4px white;
}
.boutonregister{
  width: 50px;
  height: 50px;
  background-color: rgb(255, 0, 0);

  border-radius: 50%;
  border: 12px solid yellow; /* Bordure bleue */
  box-shadow: 0px 0px 4px white;


  position: absolute;
  bottom: 5px; /* Ajustez la distance depuis le bas selon vos besoins */
  right: 7px; /* Ajustez la distance depuis la droite selon vos besoins */
  padding: 10px;


  border: none;
  cursor: pointer;

}


