<style>
  :root {
    --vert-size: 500px;
    --horiz-size: 800px;
  }

  .background{
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .grid-background{
    background-color: #00008c;
    min-width: 800px;
    min-height: 500px;
    max-width: 800px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
  }

</style>

<div class="background">
  <div class="grid-background">
    <app-hole *ngFor="let hole of tab"></app-hole>
  </div>
</div>
