<div class="body">
<div class="login-container">
  <div class="cercle">
    <h2 class="titre">Register</h2>
  </div>

  <form (ngSubmit)="register()">

    <input type="text" id="username" [(ngModel)]="user" [ngModelOptions]="{standalone: true}" required placeholder="Enter your username">


    <input type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required placeholder="Enter your password">

    <button  class="register" type="submit">Register</button>
  </form>
  <button class="annuler" (click)="annuler()">annuler</button>


</div>

</div>
