<style>
  .mainDiv{
    min-width: 1800px;
    max-width: 1800px;
    min-height: 900px;
    max-height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

</style>



    <nav>
      <ul>
        <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Grid</a></li>
      </ul>
    </nav>

  <router-outlet></router-outlet>
